<h1 mat-dialog-title>Update User</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="data.name" placeholder="Name"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="data.email" placeholder="Email"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="data.password" placeholder="Password" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="data.phone" placeholder="Phone" />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea formControlName="address" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }" [(ngModel)]="data.address" placeholder="Address"></textarea>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn" mat-dialog-close>Cancel</button>
  <button class="btn" (click)="updateUser()">Save</button>
</mat-dialog-actions>
