<div class="dashboard-content">
  <div class="search-user">
    <div class="row">
      <div class="col">
        <h1>Sell through India's Largest</h1>
        <h1>Reseller Platform</h1>
        <p>Our 1 Crore+ Resellers can boost your business through</p>
        <p>7,00,00,000+ customers</p>
        <br />
        <a [href]="fileUrl" download="app.apk" class="google-play">
          <img
            src="https://static.meeshosupply.com/web/images/google-play-btn.png"
            height="48"
            class="google-play-logo"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section facebook-bount">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="about-us-title">Facebook invests in Meesho</div>
          <div class="about-us-description">
            We'd like to announce that Facebook has made an investment in
            Meesho, which will help us further our efforts to enable independent
            entrepreneurs to build businesses and grow their customer base via
            social channels.
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="about-us-team-link">
            <a class="button w-button" href="/facebook-investment">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section growth">
    <div class="container">
      <div class="description">
        <div class="heading">Growing Incomes Across India</div>
        <div class="sub-heading">
          Our top Resellers come from metros, emerging cities and small towns
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="block numbers w-clearfix">
            <img
              src="https://static.meeshosupply.com/web/images/growth_1.png"
              class="image"
            />
            <div class="details">
              <div class="number">₹80 Crore+</div>
              <div class="text">Income Generated</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="block numbers w-clearfix">
            <img
              src="https://static.meeshosupply.com/web/images/growth_2.png"
              class="image"
            />
            <div class="details">
              <div class="number">90 Lakh+</div>
              <div class="text">Products Sold</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="block numbers w-clearfix">
            <img
              src="https://static.meeshosupply.com/web/images/growth_3.png"
              class="image"
            />
            <div class="details">
              <div class="number">5000+</div>
              <div class="text">Towns Covered</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section how-to">
    <div class="container">
      <div class="description">
        <div class="heading">Start Reselling with Meesho in 3 Simple Steps</div>
        <div class="block-container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Browse</div>
              <div class="number-description">
                quality fashion &amp; home products from the best suppliers
                globally
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Share and&nbsp;Sell</div>
              <div class="number-description">
                to your customers on WhatsApp, Facebook and Instagram
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Earn</div>
              <div class="number-description">
                high profit margins &amp; weekly bonus, transferred to your bank
                account
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
          </div>
        </div>
        <div class="how-to-video">
          <img
            src="https://static.meeshosupply.com/web/images/how-to-earn.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section dreams">
    <div class="container w-clearfix">
      <div class="description right banner">
        <div class="heading">Live Your Dreams!</div>
        <div class="heading">Be Bold &amp; Independent</div>
        <div class="sub-heading">
          Start your own business without loans or personal savings. Add extra
          income to your family wallet with ease and get the flexibility of
          working from home and spending time with your family
        </div>
      </div>
    </div>
  </div>
  <div class="section how-to">
    <div class="container">
      <div class="description">
        <div class="heading">
          There is No Limit to How Much You can Earn with Meesho
        </div>
        <div class="block-container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Earn Margins more than</div>
              <div class="number-description">
                ₹25,000 monthly
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Get Bonus upto</div>
              <div class="number-description">
                ₹6,000 weekly
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="number-heading">Earn Commission upto</div>
              <div class="number-description">
                ₹5,000 per referral
              </div>
              <img
                src="https://static.meeshosupply.com/web/images/highlight.png"
                class="highlight"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-news">
    <div class="container">
      <div class="description">
        <div class="heading">In the News</div>
      </div>
      <div class="row news-images">
        <div class="col-md-3 col-sm-6">
          <a href="https://blog.ycombinator.com/meesho/" target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/ycombinator.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://techcrunch.com/2019/06/13/facebook-meesho-first-indian-startup-investment"
            target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/techcrunch.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://www.techinasia.com/meesho-series-c-funding"
            target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/techinasia.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/meesho-raises-50-million-in-its-series-c-funding-round/articleshow/66519639.cms"
            target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/economictimes.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://yourstory.com/2018/11/meesho-50-million-series-c-shunwei-capital-dst-rps/"
            target="_blank"
            ><img src="https://static.meeshosupply.com/web/images/yourstory.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://timesofindia.indiatimes.com/business/india-business/meesho-raises-50-million-in-series-c/articleshow/66514235.cms"
            target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/timesofindia.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="https://www.livemint.com/companies/start-ups/facebook-invests-in-bengaluru-based-meesho-1560427873327.html"
            target="_blank"
            ><img src="https://static.meeshosupply.com/web/images/livemint.png"
          /></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a
            href="http://bwdisrupt.businessworld.in/article/Meesho-Raises-50M-in-Series-C-from-Shunwei-Capital-DST-Partners-Sequoia-India-SAIF-Partners-Others/06-11-2018-163753/"
            target="_blank"
            ><img
              src="https://static.meeshosupply.com/web/images/businessworld.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
