@import "../../../styles.scss";

.dashboard-navbar {
  height: 60px;
  color: $fg-color;
  background-color: $bg-color;

  .navbar-collapse {
    flex-grow: unset !important;

    .nav-item {
      a {
        padding: 5px 10px !important;
      }
    }
  }

  .navbar-expand {
    justify-content: flex-end !important;
  }

  .navbar-toggler {
    span {
      font-size: 1.3em;
    }
  }

}

.nav-pressed {
  background-color: $pressed-color !important;
}

.nav-normal {
  background-color: $bg-color !important;
}

.show {
  display: inline;
}

.hidden {
  display: none;
}
