<nav class="navbar navbar-expand login-navbar">
  <span class="app-title">WedEye</span>
</nav>
<div class="col-md-4 offset-md-4 mt-5">
  <h4 class="login-title align-center">Sign In</h4>
  <div class="card">
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="userEmail">Email</label>
                <input type="email" formControlName="userEmail" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" placeholder="enter your email"/>
                <div *ngIf="submitted && f.userEmail?.errors" class="invalid-feedback">
                  <div *ngIf="f.userEmail.invalid && f.userEmail.errors.required">Please enter an email</div>
                  <div *ngIf="f.userEmail.invalid && f.userEmail.errors.email">Please enter a valid email</div>
                </div>
              </div>
              <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" formControlName="userPassword" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" placeholder="enter your password" />
                    <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.userPassword.errors.required">Please enter a password</div>
                    </div>
              </div>
              <div class="form-submit align-right">
                    <button [disabled]="loading" class="btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <i *ngIf="!loading" class="fa fa-sign-out" aria-hidden="true"></i> Login
                    </button>
              </div>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div>
