/* You can add global styles to this file, and also import other style files */

$fg-color: #fff;
$bg-color: #19b5bc;
$over-color: #16a3aa;
$pressed-color: #138c92;

button:hover, a:hover {
  cursor: pointer;
}

.nav-link, button {
  color: $fg-color !important;
  border-radius: 5px;
  background-color: $bg-color !important;
}

.nav-link:hover {
  cursor: pointer;
  background-color: $over-color !important;
}

.app-title {
  flex: 1;
  color: $fg-color;
  font-size: 1.5em;
  font-weight: 600;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* width
::-webkit-scrollbar {
  width: 10px;
}

/* Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle
::-webkit-scrollbar-thumb {
  background: #19b4bc7a;
  border-radius: 10px;
}
*/
